#student-login {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
}

#student-login .form-control, #student-login .btn {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .6);
    color: rgba(0, 0, 0, .6);
}

#student-login h1, #student-login .btn, #student-login span {
    color: rgba(0, 0, 0, .6);
}

#student-login .btn {
    width: 25% !important;
    float: right;
}

#student-login .btn:hover {
    background: rgba(0, 0, 0, .6);
    color: #fff;
    transition: all 1s;
}

#student-login span {
    line-height: 40px;
    float: left;
    font-weight: bold;
}

#student-login ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .6);
    opacity: 1; /* Firefox */
}

#student-login :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, .6);
}

#student-login ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, .6);
}