  header {
    width: 100%;
    background: rgba(0, 0, 0, .5);
  }
  
  .nav {
    width: 50%;
    text-align: center;
  }
  
  .nav .fa {
    border: 0;
    border-radius: 0;
    text-decoration: none;
    width: 33.33% !important;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
  } 
  
  .nav .fa.active {
    color: #fff;
    background: rgba(0, 0, 0, .1) !important;
  }
  
  .nav .fa:hover, .nav .fa.active:hover {
    text-decoration: none;
    transform: scale(1.1) !important;
    color: #fff;
    background: transparent !important;
  }