#student-signup {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
}

#student-signup .form-control, #student-signup .btn {
    background: transparent;
    border-radius: 0;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .6);
    color: rgba(0, 0, 0, .6);
}

#student-signup h1, #student-signup .btn, #student-signup span {
    color: rgba(0, 0, 0, .6);
    margin: 10px 0px; 
}

#student-signup .btn {
    width: 25% !important;
    float: right;
}

#student-signup .btn:hover {
    background: rgba(0, 0, 0, .6);
    color: #fff;
    transition: all 1s;
}

#student-signup span {
    line-height: 40px;
    float: left;
    font-weight: bold;
}

#student-signup ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .6);
    opacity: 1; /* Firefox */
}

#student-signup :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, .6);
}

#student-signup ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, .6);
}