#edit-vacancy {
    margin: 0px auto;
    width: 50%;
    text-align: center;
}

#edit-vacancy  .form-control {
    background: transparent;
    border-radius: 0;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, .6);
    color: rgba(0, 0, 0, .6);
}

#edit-vacancy .btn {
    background: rgba(0, 0, 0, .6);
    border: 0;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    width:100%;
}

#edit-vacancy .btn:hover {
    color: rgba(0, 0, 0, .6);
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .6);
}

#edit-vacancy ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .6);
    opacity: 1; /* Firefox */
}

#edit-vacancy :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, .6);
}

#edit-vacancy ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, .6);
}