body {
  background: url('Assets/Images/def.jpg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

header span {
  margin: 5px 10px;
  height: 100%;
  width: 200px;
  float: left;
  border: 0;
  background: url('./Assets/Images/logo.png') no-repeat;
}

header {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, .5);
}

.nav {
  width: 50%;
  height: 100%;
  text-align: center;
}

.nav .btn {
  border: 0;
  border-radius: 0;
  width: 33.33% !important;
  height: 100%;
  line-height: 40px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
} 

.nav .btn.active {
  color: #fff;
  background: rgba(0, 0, 0, .1) !important;
}

.nav .btn:hover, .nav .btn.active:hover {
  transform: scale(1.1) !important;
  color: #fff;
  background: transparent !important;
}

.nav-tabs > li > a {
  width: 100%;
  text-align: center;	
  border-radius: 0;
  font-weight: bold;
  color: #f0ad4e;
  border: 0 !important;
  border-bottom: 1px solid#f0ad4e !important;
}

.login .nav-tabs > li {
  width: 33.33%;
}

.company .nav-tabs > li, .student .nav-tabs > li, .admin .nav-tabs > li {
  width: 50%;
}

.btn-warning {
  background: #ec971f !important;
}

.nav-tabs > li.active > a {
  background: #f0ad4e;
  color: #fff;
  border-bottom: 1px solid #f0ad4e !important;
}

.nav-tabs {
  margin-bottom: 10px;
}

.nav-tabs > li.active a:hover {
  color: #fff;
  cursor: pointer;
  background: #ec971f;
}

.btn, form .btn, .form-control {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100% !important;
  border-radius: 0;
  border: 0;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a, h1 {
  color: #fff;
}

.myVacancies {
  width: 100%;
  margin: 0px auto;
}

.vacancy , .std, .studentInAdmin, .companyInAdmin, .vacancyInAdmin{
  width: 100%;
  border: 1px solid #fff;
  margin-bottom: 10px;
  color: #fff;
}

.studentInAdmin .btn, .companyInAdmin .btn, .vacancyInAdmin .btn {
  width: 50% !important;
  margin: 0;
}